.app {
  position: relative;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

.legend {
  align-items: center;
  background-color: white;
  display: flex;
  height: 40px;
  left: 0;
  padding: 0 10px;
  opacity: 0.8;
  overflow: scroll;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &-item {
    align-items: center;
    display: flex;
    opacity: 1;
    margin: 0 10px;
  }

  &-swatch {
    display: inline-block;
    width: 20px;
    height: 20px;
  }

  &-label {
    margin-left: 10px;
    white-space: nowrap;
  }
}

.sidebar {
  background-color: #cccccc;
  color: #ffffff;
  padding: 20px;
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 100%;
  transition: left .5s ease-out;

  @media (min-width: 768px) {
    border-left: 2px solid #ffffff;
    width: 400px;
  }

  &--isOpen {
    left: 0;
    transition: left .5s ease-out;

    @media (min-width: 768px) {
      left: calc(100% - 400px);
    }
  }

  &-close {
    cursor: pointer;
    fill: #ffffff;
    height: 30px;
    left: 20px;
    position: absolute;
    top: 20px;
    width: 30px;
  }

  &-flag {
    height: 204px;
    margin: 20px auto;

    & img {
      border-radius: 50%;
      border: 6px solid #ffffff;
    }
  }

  &-label {
    text-align: justify;
    margin-bottom: 10px;

    &--title {
      font-size: 30px;
      font-weight: bold;
    }
  }
}
