.app {
  position: relative;
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

.button {
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 5px;
}

.sidebar {
  background-color: beige;
  border: 1px solid grey;
  color: #000000;
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 100%;
  transition: left .5s ease-out;

  @media (min-width: 768px) {
    width: 400px;
  }

  &-flag {
    margin: 20px auto;
    border-radius: 50%;
  }

  &--isOpen {
    left: 0;
    transition: left 1s ease-out;

    @media (min-width: 768px) {
      left: calc(100% - 400px);
    }
  }
}
